<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MObile</title>
    <link rel="stylesheet" href="static/css5/style.css">
  
</head>
<body>
<div class="nav">
  <ul>
    
    <li><a href="/userhome">UserHome</a></li>
    <br><br>
    <li><a href="/view">VIEW</a></li>
    <br><br>
    <li><a href="/module">Module Train</a></li>
    <br><br>
    <li> <a href="/prediction">Prediction</a></li>
    <br><br>
    <li> <a href="/hist">History</a></li>
    <br><br>
    <li><a href="/">Logout</a></li>

  </ul>

</div>


{% block code %}

{% endblock %}
        </li>
      </ul>
    </div>
  </div>
</nav>

</section>

    
</body>
</html>